extends ../layout

block content
    .container
        .row
            div.alert.alert-secondary User /
    a#btnAdd.btn.btn-md.btn-success(href="/user/add") ADD
    table.table.table-hover
        thead
            tr
                th(scope='col') #
                th(scope='col') First Name
                th(scope='col') Last Name
                th(scope='col') User Name
                th(scope='col') Status
                th(scope='col') Action
        tbody
        each user in userDetails
            tr
                td(scope='col') #{user.id}
                td(scope='col') #{user.firstName}
                td(scope='col') #{user.lastName}
                td(scope='col') #{user.userName}
                td(scope='col') #{user.statusName}
                td
                    a#tableBtn.btn.btn-sm.btn-primary(href="/user/edit") Edit
                    a#tableBtn.btn.btn-sm.btn-danger(href="") Delete
